<div class="container w-100">
    <div class="row">
        <div class="col">
            <div class="row align-items-start mt-0"><h6 class="text-danger">{{title}}</h6></div>
            <div class="row align-items-center"><p class="text-info">{{message}}</p></div>
            <div class="row align-items-end mt-3">
                <div class="col">
                </div>
                <div class="col-md-auto">
                    <button class="btn-secondry" (click)="cancel()">No</button>
                </div>
                <div class="col col-lg-2">
                    <button class="btn-primary" (click)="confirm()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>