<div class="container">
    <div class="row bg-secondary">
        <div class="col text-center p-2">
        <h2 class="text-white">Task Management</h2>
    </div>
    </div>
    <div class="row p-1">
        <div class="col"></div>
        <div class="col-auto" title="Add list">
            <button type="button" (click)="openAddListDialog()" class="btn btn-sm btn-link text-primary">+ List</button>
        </div>
    </div>
    <div class="row">
        <div class="d-inline-flex p-1">
            <div class="d-flex flex-row" *ngIf="cardListModel && cardListModel.lists">
                <div class="p-1" *ngFor="let list of cardListModel.lists">
                    <component-list [inputList]="list"></component-list>
                </div>
            </div>
        </div>
    </div>
</div>